.background-photo {
  height: 100vh;
  width: 40vw;

}
@font-face {
    font-family: "Norse Bold";
    src: url(Norse-Bold.otf);
}

/* .logo-text {
  background-color: black;
  opacity: 50%;
  color: white;
  font-size: 3rem;
  position: absolute;
  top: 20%;
  left: 10%;
  font-family: 'Norse Bold', Times, serif;
} */

.odin {
 
    width: 100px;
    height: 100px;

}

.head-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: black;
    opacity: 0.6;
    position: absolute;
    top: 20%;
    left: 8%;
    
}


.container {
    display: flex;
}

.first-last,.email-phone,.passwords,.create {
    display: flex;
    gap: 8px;
}

.fields {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.quote,.create {
    height: 35vh;
    background-color: aliceblue;
}
